body {
  padding-top: 50px;
  background: url(../images/dancer-skyline-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-promo {
  background: rgba(255, 255, 255, 0.75);
  padding: 10px;
  border-radius: 6px;
}

.navbar-brand {
  padding: 5px 5px;
}

.navbar-toggle {
  background-color: #000;
}

.navbar-inverse {
  background-color: rgba(255, 255, 255, 0.50);
}

.navbar-inverse li {
  background-color: rgba(0, 0, 0, 1);
}
#wtbd-logo {
  height: 26px;
  margin-top: 7px;
}

#getlouder {
  text-align: center;
}

#subtitle {
  font-family: 'Shadows Into Light', cursive;
}

.louder {
  font-size: 120%;
  font-weight: bold;
}
@media (min-width:768px) {
  .navbar-inverse li {
    background-color: rgba(255, 255, 255, 0);
  }
  #home-promo {
    margin-top: 110px;
  }

  #Stage {
    margin-top: -10px !important;
  }
  #wtbd-logo {
    height: 40px;
    margin-top: 0px;

  }
}