body {
  padding-top: 50px;
  background: url(../images/dancer-skyline-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-promo {
  background: rgba(255, 255, 255, 0.75);
  padding: 10px;
  border-radius: 6px;
}

.navbar-brand {
  padding: 5px 5px;
}

#wtbd-logo {
  height: 25px;
  margin-top: 4px;
}

@media (min-width:768px) {
  #home-promo {
    margin-top: 160px;
  }
  #wtbd-logo {
    height: 40px;
    margin-top: 0px;

  }
}